@import "breackpoint";

#section2 {
  .container-profile {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 20px;

    @include breakpoint(medium) {
      grid-template-columns: 50% 50%;

    }

    @include breakpoint(xlarge) {
      grid-template-columns: 1fr 1.6fr 1fr;
    }

    .description {
      order: 2;

      @include breakpoint(large) {
        order: 0;
      }
    }

    .Skills {
      order: 3;
    }

    h5 {
      font-weight: 600;
    }

    p {
      font-size: 16px;
    }

    img {
      height: auto;
      width: 100%;

      @include breakpoint(medium) {
        height: auto;
        width: 100%;
      }

      @include breakpoint(xlarge) {
        height: 450px;
        width: auto;
      }
    }
    .progress-container {
      margin-top: 1.2rem;
    }
  }
}
